.headerContainer {
  background: #ffffff;
  box-shadow: 0px 1px 0px #dadada;
  padding: 18px 16px;
}
.titleHeader {
  font-family: "Public Sans-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #010202;
  margin-top: 5px;
}

.optionsHeader {
  display: flex;
  justify-content: space-between;
}
.goBackHeader {
  cursor: pointer;
  font-family: "Public Sans-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  color: #6600ff;
}

.descriptionHeader {
  gap: 8px;
  font-family: "Public Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #747474;
}

.containerBurger {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;

  width: 40px;
  height: 38px;

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.containerBurger:hover {
  transform: scale(1.03);
}
